.dropdown {
    position: absolute;
    top: 38px;
    left: -1px;
    border: 1px solid rgb(197, 197, 197);
    background: #ffffff00;
    padding: 0;
    color: #0062cc;
    text-align: left;
    border-radius: 0.25rem;
  }
  .dropdown > img {
    margin: 0;
    padding: 1;
    border-bottom: 1px solid rgb(232, 208, 208);
    min-width: 54px;
  }
  .dropdown > img:hover {
    color: #fff;
    background-color: #0062cc;
  }
  .dropdown > img:last-child {
    border-bottom: 0 none;
  }