button.active {
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff00;
    background-color: #0069d900;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    position: relative;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #44b0ef1b;
  }

.displayImage {
    height: 56px;
    width: 56px;
    position: relative;
}