.item-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #60586b;
  padding: 0.5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 14px;
}