.item-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
  }