button:hover {
  color: #ffffff5b;
  background-color: #0069d900;
}

.button-selected {
  color: #ffffff8c;
  background-color: #0021d920;
  border: 1px solid #3498db; 
  width: 54px; 
  height: 54px;
}

.image-button-array {
  display: flex;
}

.button {
  border: 3px solid #3498db; 
  width: 54px; 
  height: 54px;
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25%;
}

.button-selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}