button:hover {
  color: #ffffff5b;
  background-color: #0069d900;
}

.button-selected {
  color: #ffffff8c;
  background-color: #0021d920;
  border: 1px solid #3498db; 
  border-radius: 10px;
  width: 54px; 
  height: 54px;
}

.image-button-array {
  display: flex;
}

.class-button {
  border: none; 
  background-color: #0021d900;
  padding: 8px;
  width: 54px; 
  height: 54px;
}

.class-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25%;
}

.button-selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  gap: 10px
}